<div class="card">
    <h1>Componente Point of Sale - POS</h1>
    <form action="">
        <div class="container">
            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" #name>
        </div>
        <div class="container">
            <label for="pedido">Pedido:</label>
            <input type="text" name="pedido" id="pedido" #pedido>
        </div>
        <button type="button" (click)="agregarVenta(name.value, pedido.value)">Ordenar</button>
    </form>
</div>